﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model bai2_bttl.Models.Song

@{
    ViewBag.Title = "Chi tiết bài hát: " + Model.Title;
}

<h2>@ViewBag.Title</h2>

<p>Tên bài hát: @Model.Title</p>

<audio controls>
    <source src="@Model.FilePath" type="audio/mpeg">
    Trình duyệt không hỗ trợ phát audio.
</audio>

<a href="@Url.Action("Download", new { id = Model.Id })">Tải về</a>