﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<bai2_bttl.Models.Song>

@{
    ViewBag.Title = "Danh sách bài hát";
}

<h2>@ViewBag.Title</h2>

<ul>
    @foreach (var song in Model)
    {
        <li>
            <a href="@Url.Action("Detail", new { id = song.Id })">@song.Title</a>
            <a href="@Url.Action("Download", new { id = song.Id })">Tải về</a>
        </li>
    }
</ul>