@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dữ liệu nhận được</h2>
<h3>
    TempData: @TempData["message1"]
</h3>
<h3>
    ViewBag: @ViewBag.message1
</h3>
<h3>
    ViewData: @ViewData["message1"]
</h3>