@{
    ViewBag.Title = "Nông Văn Bách";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bài thi giữa kì của Nông Văn Bách</h3>

    <address>
        K22CNT2 - Môn lập trình ứng dụng web với công nghệ Asp.Net MVC5
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:chungtrinhj@gmail.com">:chungtrinhj@gmail.com</a>
        <strong>Cá nhân:</strong>  <a href="mailto:kunkontkls@gmail.com">kunkontkls@gmail.com</a><br />
    </address>
</main>