﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhạc hot nhất zing mp3 hiện nay</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Nhạc hot nhất zing mp3 hiện nay</h1>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <!-- Footer content here -->
    </footer>    
    @RenderSection("scripts", required: false)
</body>
</html>