
@{
    ViewBag.Title = "Nông Văn Bách - Index";
}

<h2>Nông Văn Bách - Index</h2>
<hr/>
<h3>Hiển thị dữ liệu lấy từ Action trong Controller</h3>
<h4>FullName: @ViewBag.fullname</h4>
<h4>Ngày sinh: @ViewData["Birthday"]</h4>
<h4>Di động:@TempData["Phone"]</h4>
