
@{
    ViewBag.Title = "Ngôn ngữ Razor";
}

<h2>Ngôn ngữ Razor</h2>
<h3>Biến</h3>
@{
    var name = "Nông Văn Bách";
    int age = 23;
    DateTime dt = DateTime.Now;

}
<p>Họ Tên: @name</p>
<p>Tuổi @age</p>
<p>Time :@dt</p>
<hr />
<h3>Câu lệnh if</h3>
@{
    if (age > 40)
    {
        <p>Tuổi @age => Già rồi</p>
    }
    else
    {
        <p>Còn trẻ</p>
    }
}
<hr />
<h3>loop: for, white, do...white, foreach....</h3>
@{
    int num = 10;
}
@for (int i = 0; i < num; i++)
{
    <li>@i => @i*@i</li>
}
<h3>Mảng</h3>
@{
    string[] names = { "Trần Văn A", "Nguyễn Thị B", "Lê Đại C", "Trịnh Lê D" };
}
@foreach (var item in names)
{
    <p>@item</p> 
}
<hr />
@foreach (var item in ViewBag.names)
{
    <p>@item</p>
}

