@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <pre>
        Mã sinh viên:
        Họ tên: Nông Văn Bách
        Ngày sinh:
        Điện thoại:
        Email:
    </pre>
</main>